/* ==========================================================================
   CSS personalizado
   ========================================================================== */


.copyright{
    margin-top:60px;
    width:auto;
    height:60px;
    background:#eee;
}
.copyright footer{    
    width:auto;
    margin:0 auto;
}
.copyright footer p{
    color: #265d72;
    padding-top: 23px;
    text-align: center;
}

.col-md-4 ul li {
    list-style:none;
    padding : 0px;
}
.col-md-4 {
     padding : 0px 0px 0px 0px;
     margin-bottom: 0px;
}
.jumbotron {
    padding: 1%;   
    margin: 1%;
}

.navbar {
    
    margin: 0px;
}

ul.thumbnails {
    margin-bottom: 0px;
    padding : 0px 20px 0px 20px;
}
.thumbnail{
    border: 0%;
    border-color: #eee;
}



#form {
    background-color: #ddd;
    width: 50%;
    margin: auto;
    padding: 0 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

@media (max-width: 600px) {

    #form {
        background-color: #ddd;
        width: 100%;
        margin: auto;
        padding: 0 10px 10px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }
}